body {
  font-family: Montserrat;
  font-style: normal;
}

.advantages {
  justify-content: center;
}

.section__title {
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-top: 0px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1680px) {
  .section__title {
    font-size: 46px;
  }
}

.section__title.invisible {
  display: none;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    width: 1680px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.advantages__list {
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: inline-flex;
  align-items: center;
  padding-left: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    justify-content: start;
    padding-left: 70px;
    font-size: 14px;
    flex-basis: calc((100% - 2*94px)/3);
  }
}

@media screen and (min-width: 1680px) {
  .advantages__item {
    justify-content: start;
    padding-left: 82px;
    font-size: 20px;
    flex-basis: calc((100% - 2*190px)/3);
  }
}

.advantages__icon {
  width: 100px;
  height: 100px;
  fill: #FF6B09;
  stroke: #FF6B09;
}

.svg {
  width: 100px;
  height: 100px;
  fill: #FF6B09;
  stroke: #FF6B09;
}

.container__guarantee {
  display: flex;
  background-color: #F1F1F1;
}

.guarantee__list {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc((108px * 2) + (32px * 1));
  padding-left: 28px;
  padding-right: 0px;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20/12);
  letter-spacing: 0.01em;
  color: #3d3d3d;
}

@media screen and (min-width: 768px) {
  .guarantee__list {
    width: calc((108px * 4) + (32px * 3));
    padding-left: 32px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee__list {
    width: calc((108px * 8) + (32px * 7));
    padding-left: 41px;
    font-size: 20px;
    line-height: calc(28/20);
    letter-spacing: 0.01em;
  }
}

.guarantee__list::before {
  content: '';
  position: absolute;
  left: 0px;
  height: 100%;
  border: 1px dashed #B9B9B9;
}

.guarantee__item {
  position: relative;
}

.guarantee__item--accent {
  color: #FF6B09;
}

.guarantee__item + .guarantee__item {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .guarantee__item + .guarantee__item {
    margin-top: 20px;
  }
}

.guarantee__item::before {
  position: absolute;
  left: -34px;
  display: inline-block;
  align-items: center;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px;
  height: 20px;
  fill: #FF6B09;
  background-image: url(../image/logoicon.svg);
}

@media screen and (min-width: 768px) {
  .guarantee__item::before {
    left: -38px;
  }
}

@media screen and (min-width: 1680px) {
  .guarantee__item::before {
    width: 22px;
    height: 30px;
    left: -52px;
  }
}
/*# sourceMappingURL=main.css.map */